.App {
  text-align: center;
}
.form_wrapper {
  padding-top: 50px;
}
.form_wrapper input {
  height: 30px;
  border-radius: 0;
  min-width: 250px;
  border: 1px solid #ddd;
  padding-left: 10px;
}
.form_wrapper input:focus {
  border: 1px solid rgb(126, 118, 118);
  outline: 0;
}
.form_wrapper button[type="submit"] {
  margin-top: 10px;
  padding: 8px 25px;
  border: 0;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}
.opt_options_wrapper input {
  height: 30px;
  border-radius: 0;
  width: 45px;
  border: 1px solid #ddd;
  border-right: 0;
  padding-left: 10px;
}
.opt_options_wrapper input:focus {
  border: 1px solid rgb(126, 118, 118);
  outline: 0;
}
.opt_options_wrapper input:last-child {
  border-right: 1px solid #ddd;
}
.opt_options_wrapper input:last-child:focus {
  border: 1px solid rgb(126, 118, 118);
}
